<% layout('/layouts/boilerplate') %>
<body class="body1">
    <br><br>
    <div class="home0">
    <a href="/questions/1" style="text-decoration: none">
    <h1 style="color: rgb(41, 39, 38); font-weight: bolder; margin-left: 70px;">What is your : </h1>
    <h1 style="color: rgb(41, 39, 38); font-weight: bolder; margin-left: 30px;">Ecological Footprint</h1>
    </a></div>
    <br><br>
    <div class="card mb-3 home1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBRtrhTp0Dq43Cui-pWknycqDnNwmhmHGHiQ&s" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">What is an Ecological Footprint? </h5>
          <p class="card-text">The ecological footprint measures the human demand on Earth's ecosystems, comparing this demand with the Earth's ecological capacity to regenerate.</p>
          <p class="card-text">It helps us understand how our lifestyle choices impact the planet and highlights areas where we can reduce our environmental impact.</p>
        </div>
    </div>
        <br>
        <hr>
        <br>
      <div class="card mb-3 home2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/World_map_of_countries_by_ecological_footprint_%282007%29.svg/400px-World_map_of_countries_by_ecological_footprint_%282007%29.svg.png" class="card-img-bottom" alt="img">
        <div class="card-body">
          <h5 class="card-title">Global Average Footprint</h5>
          <p class="card-text">The average global ecological footprint is about 2.8 global hectares (gha) per person.</p>
          <p class="card-text"> This means that, on average, humanity uses ecological resources and services equivalent to what 1.75 Earths can provide in a year.</p>
        </div>
      </div>
</body>