<% layout('/layouts/boilerplate') %>
<body class="q6b">
<div>
    <form action="/questions/6" method="post">
    <h1>TRANSPORTATION</h1>
    <h1>How many hours do you fly each year?</h1>
    </div>
    <br>
    <div class="answer">
    <p>LOW</p>
    <input type="range" min="1" max="3" name="question4" id="question4" value="question4" class="form-range" style="margin: 0 10px 0 10px;">
    <p>MANY</p>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" id="next">Submit</button>
    </form>
</div>
</body>