<% layout('/layouts/boilerplate') %>

<body class="sol">
<h1>Measures to Reduce Ecological Footprint</h1>
<div class="row row1">
    <div class="col-md-4 para4">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Diet</h5>
                <h6>Reduce Meat and Dairy:</h6>
                <p class="card-text">Cut down on red meat and dairy products, opting for more plant-based foods.<br>
                    Support local farmers and purchase seasonal produce.<br>
                    Practice meal planning to reduce food waste.<br>
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 para5">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Transport</h5>
                <h6>Enhance Public Transport and Electric Vehicles:</h6>
                <p class="card-text">Increase the use of public transportation and carpooling.<br>
                    Promote the adoption of electric and hybrid vehicles.<br>
                    Limit air travel, choosing economy class and offsetting emissions when necessary. <br>
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 para6">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Energy Consumption</h5>
                <h6>Improve Energy Efficiency:</h6>
                <p class="card-text">Invest in energy-efficient appliances and lighting.<br>
                    Install solar panels or switch to green energy plans.<br>
                    Upgrade home insulation and use programmable thermostats.<br>
            </div>
        </div>
    </div>
</div>
</body>