<% layout('/layouts/boilerplate') %>

<body class="sol">
<h1>Measures to Reduce Ecological Footprint</h1>
<div class="row row1">
    <div class="col-md-4 para">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Diet</h5>
                <h6>Adopt a Plant-Based Diet:</h6>
                <p class="card-text">Significantly reduce meat and dairy consumption.<br>
                    Increase intake of locally-sourced, seasonal fruits and vegetables.<br>
                    Minimize food waste by planning meals and using leftovers.<br>
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 para1">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Transport</h5>
                <h6>Use Public Transport and Non-Motorized Modes</h6>
                <p class="card-text">Maximize use of public transportation, cycling, and walking.<br>
                    Invest in and promote electric vehicles for necessary car travel.<br>
Avoid air travel; use trains or virtual meetings whenever possible.<br>

                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 para2">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Energy Consumption</h5>
                <h6>Transition to Renewable Energy:</h6>
                <p class="card-text">Use 100% renewable energy sources such as solar, wind, and hydro.<br>
                    Implement energy-efficient practices in homes and businesses.<br>
                    Retrofit buildings for better insulation and energy conservation.<br>
            </div>
        </div>
    </div>
</div>
</body>