<% layout('/layouts/boilerplate') %>

<body class="sol">
<h1>Measures to Reduce Ecological Footprint</h1>
<div class="row row1">
    <div class="col-md-4 para7">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Diet</h5>
                <h6>Moderate Meat and Dairy Reduction:</h6>
                <p class="card-text">Reduce the frequency of meat and dairy consumption.<br>
                    Choose sustainably-sourced and local food products.<br>
                    Implement strategies to minimize food waste.<br>
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 para8">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Transport</h5>
                <h6>Promote Public Transport and Efficient Vehicles:
                </h6>
                <p class="card-text">Use public transportation and carpooling more frequently.<br>
                    Opt for fuel-efficient vehicles if electric ones are not feasible.<br>
                    Reduce unnecessary air travel and combine trips to minimize mileage.<br>
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 para9">
        <div class="card solution-card">
            <div class="card-body">
                <h5 class="card-title">Energy Consumption</h5>
                <h6>Basic Energy Efficiency Measures:</h6>
                <p class="card-text">Upgrade to more energy-efficient appliances and lighting.<br>
                    Improve home insulation to reduce energy consumption.<br>
                    Utilize programmable thermostats and reduce unnecessary energy use.<br>                    
            </div>
        </div>
    </div>
</div>
</body>